.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/gradientBackground.png');
    background-size: cover;
    background-position: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.title {
    color: black;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 70%;
}

.fish2{
    width: 85px;
    height: 85px;
  }

.fish1 {
  width: 60px;
  height: 60px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fishies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.inputfield {
    background-color:white;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    color: black;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

.inputfield:focus {
    border-color:#AFCAE4;
    box-shadow: 0 2px 4px #a7c6e2;
}

.content {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.SIbutton {
    background-color: #AFCAE4;
    color: #343a40;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    border: none;
}

.SIbutton:hover {
    background-color: #8ab6df;
    transform: scale(1.03);
}

.circleLogo {
    width: 10%;
    margin-top: 8%;
}

.deez {
    background-color: black;
}