.noteList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/backgroundImage.png');
    background-size: contain; 
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: black;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 4%;
    color: black;
  }

.notebook {
    display: flex;
    justify-content: center;
    background-image: url('../assets/notebookTextList.png');
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 65%;
    margin-top: 2%;
}

.notes {
    margin-top: 20%;
    width: 80%;
    text-align: center;
    overflow-y: scroll;
    max-height: 65%;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AFCAE4;
    color: #708FAC;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.note {
    padding: 10px;
    transition: background 0.3s;
    border-radius: 999px;

}
.note:hover {
    background-color: #D0E3F5;
    cursor: pointer;
}