.intermission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/backgroundImage.png');
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-size: contain; 
}

.timestamp {
  color: black;
}

.phase {
  font-size: 1.2em;
  font-weight: 50;
  color: #6c757d;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #343a40;
  margin: 0;
  margin-bottom: 2%;
}

.timerWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.timerContent {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 235px;
  height: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.minuteInput {
  background-color:white;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 600;
  text-align: center;
  font-size: 120%;
  width: 100%;
  outline: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin-bottom: 3%;
  
}

.buttonsComplete {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AFCAE4;
  color: #343a40;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  width: 20%;
  height: 80%;
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #8ab6df;
  transform: scale(1.05);
}

.button:focus {
  border: none;
  outline: none;
}

.recall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  border-radius: 100px;
  
}

.recallButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AFCAE4;
  color: #343a40;
  font-size: 1em;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  margin-top: 10px;
  width: 20%;
  height: 50%;
}

.recallButton:hover {
  background-color: #8ab6df;
  transform: scale(1.05);
}